<launch>
  <arg name="calib_dir" default="$(find multicam_calibration)/calib/example"/>
  <arg name="device" default="example_camera"/>
  <node pkg="nodelet" type="nodelet"
    name="multicam_calibration" args="standalone multicam_calibration/CalibrationNodelet"
    clear_params="true" output="screen">
    <rosparam file="$(find multicam_calibration)/config/aprilgrid.yaml"/>
    <rosparam file="$(arg calib_dir)/$(arg device)-initial.yaml"/>
    <param name="use_approximate_sync" value="true"/>
    <param name="calib_dir" value="$(arg calib_dir)"/>
    <param name="latest_link_name" value="$(arg device)-latest.yaml"/>
    <param name="output_filename" value="$(arg device)"/>

    <!--
	You can just perform the calibration from an extracted corners file (~/.ros/corners.csv)
	This is useful for debugging a calibration because you can quickly rerun with e.g. a
	different initial starting guess.
	<param name="corners_file" value="corners_example.csv"/>
    -->
    <!--
	ATTENTION:  Do not remap.
	The topics subscribed to are specified in the $(arg device)-initial.yaml file.
	Edit the topic names there.
    -->
  </node>
</launch>
