<launch>
  <arg name="type" default="radtan"/>
  <arg name="calib_dir" default="$(find multicam_calibration)/test/$(arg type)"/>
  <arg name="corners_file" default="$(find multicam_calibration)/test/$(arg type)/corners.csv"/>

  <node pkg="nodelet" type="nodelet" name="multicam_calibration"
	args="standalone multicam_calibration/CalibrationNodelet"
	clear_params="true" output="screen">
    <!-- the aprilgrid is not used for the unit tests! -->
    <rosparam file="$(find multicam_calibration)/config/aprilgrid.yaml"/>
    <rosparam file="$(arg calib_dir)/$(arg type)-initial.yaml"/>
    <param name="calib_dir" value="$(arg calib_dir)"/>
    <param name="latest_link_name" value="$(arg type)-latest.yaml"/>
    <param name="output_filename" value="$(arg type)"/>
    <param name="run_calib_on_init" value="true"/>
    <param name="fix_intrinsics" value="false"/>
    <param name="corners_file" value="$(arg corners_file)"/>
  </node>
</launch>
