<launch>
  <arg name="cam" default="/sync/cam0"/>
  <arg name="name" default="undistort"/>
  <node pkg="nodelet" type="nodelet"
    name="$(arg name)" args="standalone multicam_calibration/UndistortNodelet"
    clear_params="false" output="screen">
    <remap from="~image" to="$(arg cam)/image_raw"/>
    <remap from="~camera_info_raw" to="$(arg cam)/camera_info"/> 
  </node>
</launch>
